.navbar-app {
    width: 1670px;
    height: 178px;
    left: 0;
    background-color:brown;
    border-bottom: 3px solid rgb(17,17,17);
    border-top: 3px solid rgb(17,17,17);
    border-right: 3px solid rgb(17,17,17);
    display: flex;
    align-items: center;
    margin-left: 250px;
}

.icon-container {
    padding-left: 15px;
    margin-right: 175px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-filter-container {
    margin-right: 70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 400px;
}

.price-filter-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 550px;
}

.price-search-button {
    margin-bottom: 4px;
    margin-left: 5px;
}

.name-search-button {
    margin-bottom: 4px;
    margin-left: 5px;
}

.shop-icon-text {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 15px;
    width: 280px;
}

.name-search {
    color: white;
    font-weight: bold;
    font-size: 19px;
}

.price-min {
    color: white;
    font-weight: bold;
    font-size: 19px;
    margin-right: 45px;
}

.price-max {
    color: white;
    font-weight: bold;
    font-size: 19px;
}